@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply bg-purple-500 hover:bg-purple-700 inline-block my-2 px-4 py-2 mx-3 uppercase rounded-md cursor-pointer font-bold text-white hover:text-white
    }
    .btn-page {
        @apply bg-purple-500 hover:bg-purple-700 inline-block my-2 px-4 py-2 uppercase rounded-md cursor-pointer font-bold text-white hover:text-white
    }
    a {
        color: #a855f7;
    }
    a:hover {
        color: #7e22ce;
    }
}